.LoginContainer {
    background-image: url("../PageAssets/loginBackground.jpg");
    background-size: cover;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
}

